page-bookmark {
  ion-header {
    background-color: #FFCE00;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    height: 20%;
    margin-right: auto;
    margin-left: auto;
    z-index: 3;
  }
}
