page-home {
  background-color: #F0F0F0;

  ion-header {
    background-color: #FFCE00;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    height: 20%;
    margin-right: auto;
    margin-left: auto;
    z-index: 3;
  }

  .starButton {
    margin-right: 20px;
    width: 30px;
    color: #488aff;
    z-index: 4;
  }

  #map_canvas {
    top: 22%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 90%;
    height: 25%;
    margin: 0 auto;
    z-index: 5;
  }

  ion-content {
    position: relative;
    top: 40%;
  }
}
