page-home {
  background-color: #F0F0F0;
  ion-header{
    background-color: #FFCE00;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 25%;
    margin-right: auto;
    margin-left: auto;
    z-index: 3;
  }

  .searchbar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 40%;
    border-radius: 10px;
    z-index: 4;
  }

  #map_canvas {
    top: 40px;
    position: absolute;
    width: 30%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
  }

  .contents {
    margin-top: 50%;
    background-color: #ffffff;
  }
}
